<nav class="navbar navbar-default navbar-fixed-left" role="navigation">
  <ul class="nav navbar-nav">
    {% comment %}
    {% for link in site.navigation %}
      {% assign current = '' %}
      {% if page.url == link.url %}
        {% assign current = 'active' %}
      {% endif %}
      <li class="{{ current }}">
        <a href="{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
    {% endcomment %}

    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/sp800-63-3.html">SP 800-63-3</a></li>
    <li><a href="{{ site.baseurl }}/sp800-63a.html">SP 800-63A</a></li>
    <li><a href="{{ site.baseurl }}/sp800-63b.html">SP 800-63B</a></li>
    <li><a href="{{ site.baseurl }}/sp800-63c.html">SP 800-63C</a></li>
    <li>
      <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues/" class="icon">Comment</a>
      <a href="{{ site.baseurl }}/comment_help.html" class="icon icon-fa">
        <i class="fa fa-question-circle" title="Get help with leaving a comment" aria-hidden="true"></i>
        <span class="sr-only">Get help with leaving a comment</span>
      </a>
    </li>
  </ul>
</nav>
